<%- include("partials/header") %>

<div class="container">
   
    <header class="jumbotron">
        <div class="container">
            <h1>LANDING PAGE</h1>
    
            <p>Welcome to the YelpCamp Landing Page</p>
            <p>
                <a class="btn btn-primary btn-large" href="/campgrounds">View all Campgroun</a>
            </p>
            
        </div>
    </header>
     

    
</div>

<%- include("partials/footer") %>